h1 {
	color:white;
	font-size:50px;
	padding:5px 50px 5px;
	border:2px solid white;
	margin:0px ;

}

p {
	color:blue;
	font-size:50px


}

body {
	background-color:black;
	padding:50px 200px 150px ;
	border:2px solid white;
	margin:0px ;


	

}